*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

@font-face {
  font-family: 'Barlow';
  src: local('Barlow SemiBold'), local('Barlow-SemiBold'),
    url('./fonts/Barlow-SemiBold.woff2') format('woff2'),
    url('./fonts/Barlow-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fraunces';
  src: local('Fraunces 9pt Bold'), local('Fraunces9pt-Bold'),
    url('./fonts/Fraunces9pt-Bold.woff2') format('woff2'),
    url('./fonts/Fraunces9pt-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fraunces';
  src: local('Fraunces 9pt Black'), local('Fraunces9pt-Black'),
    url('./fonts/Fraunces9pt-Black.woff2') format('woff2'),
    url('./fonts/Fraunces9pt-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --ff-primary: 'Barlow', sans-serif;
  --ff-secondary: 'Fraunces', serif;

  --fs-xl: 2.25rem;
  --fs-lg: 2rem;
  --fs-md: 1rem;
  --fs-sm: 0.825rem;

  --fw-black: 900;
  --fw-bold: 700;
  --fw-semibold: 600;

  --ff-heading: var(--ff-secondary);
  --ff-body: var(--ff-primary);

  --fs-heading-1: var(--fs-xl);
  --fs-heading-2: var(--fs-lg);
  --fs-body: var(--fs-md);

  --clr-primary-1: hsl(51, 100%, 49%);
  --clr-primary-2: hsl(7, 99%, 70%);
  --clr-primary-3: hsl(167, 40%, 24%);
  --clr-primary-4: hsl(198, 62%, 26%);
  --clr-primary-5: hsl(168, 34%, 41%);

  --clr-neutral-lighter: hsl(0, 0%, 100%);
  --clr-neutral-light: hsl(210, 4%, 67%);
  --clr-neutral-darkest: hsl(212, 27%, 19%);
  --clr-neutral-darker: hsl(213, 9%, 39%);
  --clr-neutral-dark: hsl(232, 10%, 55%);
}

h1 {
  font-size: var(--fs-heading-1);
  font-family: var(--ff-heading);
  color: var(--clr-neutral-lighter);
  line-height: 1.25;
  letter-spacing: 0.1em;
}

a {
  text-decoration: none;
  color: var(--clr-neutral-darker);
}

button:hover {
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--clr-neutral-dark);
  font-family: var(--ff-primary);
  font-weight: var(--fw-semibold);
  font-size: var(--fs-body);
}

header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 2rem 1.5rem;
  position: fixed;
  top: 0;
  z-index: 20;
  transition: all 0.25s ease;
}

#primaryNav a {
  position: relative;
}
#primaryNav a::after {
  content: '';
  width: 0;
  height: 2px;
  background-color: var(--clr-neutral-lighter);
  position: absolute;
  left: 0;
  bottom: -4px;
  transition: width 0.25s ease;
}
#primaryNav a:hover:after {
  width: 100%;
}

#primaryNav button#navToggle {
  background-color: transparent;
  border: transparent;
}

.list-container {
  position: absolute;
  padding: 1.5rem;
  width: 100%;
  top: 5rem;
  left: 0;
  translate: 0 -150%;
  transition: translate 0.25s ease;
}

#primaryNav ul {
  list-style: none;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--clr-neutral-lighter);
  position: relative;
  box-shadow: 0 0 72px -36px var(--clr-neutral-darkest);
}

#primaryNav ul li button {
  font-family: var(--ff-secondary);
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: transparent;
  background-color: var(--clr-primary-1);
  transition: background-color 0.25s ease;
}

#primaryNav ul li.chevron {
  width: 0;
  height: 0;
  border-bottom: 26px solid var(--clr-neutral-lighter);
  border-left: 26px solid transparent;
  position: absolute;
  top: -1.5rem;
  right: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr;
}

.hero {
  grid-column: 1;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  background-image: url('./images/mobile/image-header.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__title {
  position: absolute;
  top: 25%;
  padding: 1rem;
}
.hero__arrow {
  position: absolute;
  top: 50%;
}

.services {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: auto;
}

.services__content {
  display: grid;
  grid-template-columns: auto;
}
.services__content:first-of-type {
  grid-column: span 2;
  grid-row: 1;
}
.services__content:nth-of-type(2) {
  grid-column: span 2;
  grid-row: 2;
}
.services__content:nth-of-type(3) {
  background-image: url('./images/mobile/image-graphic-design.jpg');
  grid-column: 1;
  grid-row: 3;
}
.services__content:last-of-type {
  background-image: url('./images/mobile/image-photography.jpg');
  grid-column: 2;
  grid-row: 4;
}
.services__content:nth-of-type(3),
.services__content:last-of-type {
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1.35;
  background-position: center;
  background-size: cover;
}

.services__content:first-of-type .content__text .content__text-cta::after {
  background-color: var(--clr-primary-1);
}
.services__content:nth-of-type(2) .content__text .content__text-cta::after {
  background-color: var(--clr-primary-2);
}

.services__content:nth-of-type(3) picture,
.services__content:nth-of-type(3) .content__text,
.services__content:last-of-type picture,
.services__content:last-of-type .content__text {
  grid-column: 1 / span 2;
  grid-row: 1;
}
.services__content:nth-of-type(3) .content__text,
.services__content:last-of-type .content__text {
  grid-row: 2;
  padding: 0 1rem 2rem;
  justify-content: center;
  gap: 1rem;
}

.services__content:nth-of-type(3) .content__text-title,
.services__content:nth-of-type(3) .content__text-body {
  color: var(--clr-primary-3);
}
.services__content:nth-of-type(3) .content__text-body {
  opacity: 0.8;
}

.services__content:last-of-type .content__text {
  color: var(--clr-neutral-darkest);
  opacity: 0.8;
}

.services__content img {
  aspect-ratio: 1 / 1;
  width: 100%;
}

.content__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 2rem;
  padding: 2rem;
}

.content__text-title {
  font-family: var(--ff-heading);
  font-size: var(--fs-heading-2);
  font-weight: var(--fw-black);
  color: var(--clr-neutral-darkest);
  line-height: 1.25;
}

.content__text-cta {
  width: fit-content;
  color: var(--clr-neutral-darkest);
  font-family: var(--ff-heading);
  font-weight: var(--fw-black);
  background-color: transparent;
  border: transparent;
  position: relative;
}

.content__text-cta::after {
  content: '';
  width: calc(100% + 15px);
  height: 10px;
  border-radius: 1rem;
  position: absolute;
  bottom: -1px;
  left: 50%;
  translate: -50% 0;
  z-index: -1;
  opacity: 0.35;
  transition: opacity 0.25s ease;
}

.content__text-cta:hover::after {
  opacity: 1;
}

.content__text,
.testimonials__text {
  max-width: 45ch;
}

.testimonials {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  padding: 4rem 1rem;
}
.testimonials__title {
  font-family: var(--ff-heading);
  font-size: var(--fs-md);
  letter-spacing: 0.2em;
}
.testimonials__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding: 1rem;
}
.testimonials__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.testimonials__text {
  color: var(--clr-neutral-darker);
}

.testimonials__name {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-black);
  color: var(--clr-neutral-darkest);
}
.testimonials__position {
  font-size: var(--fs-sm);
  color: var(--clr-neutral-light);
}

.gallery {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}
.gallery img {
  aspect-ratio: 1 / 1;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 3rem 2rem;
  background-color: #95d6c6;
}

footer a {
  color: var(--clr-primary-5);
}
footer a:hover {
  color: var(--clr-neutral-lighter);
}

#secondaryNav {
  width: 100%;
  max-width: max-content;
}

#secondaryNav ul {
  display: flex;
  gap: 4rem;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

footer .socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  padding-top: 2rem;
}
.socials .icon:hover path {
  fill: var(--clr-neutral-lighter);
}

.attribution {
  display: flex;
  flex-direction: column;
  color: var(--clr-primary-5);
}
.attribution a {
  color: var(--clr-primary-3);
}

@media (min-width: 36rem) {
  .hero {
    background-image: url('./images/desktop/image-header.jpg');
  }

  .services__content:nth-of-type(3),
  .services__content:last-of-type {
    aspect-ratio: 1;
  }
}

@media (min-width: 48rem) {
  header {
    position: absolute;
  }

  #primaryNav a {
    color: var(--clr-neutral-lighter);
  }

  #primaryNav button#navToggle {
    display: none;
  }

  .list-container {
    position: static;
    translate: 0;
    padding: 0;
  }

  #primaryNav ul {
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    position: static;
    box-shadow: none;
    gap: 3rem;
    padding: 0;
  }

  #primaryNav ul li button {
    background-color: var(--clr-neutral-lighter);
  }
  #primaryNav ul li button:hover {
    background-color: hsl(200, 100%, 70%);
    color: var(--clr-neutral-lighter);
  }

  #primaryNav ul li.chevron {
    display: none;
  }

  main {
    grid-template-columns: 1fr 1fr;
  }

  .hero {
    grid-column: 1 / span 2;
  }

  .services {
    grid-column: 1 / span 2;
  }

  .services__content {
    grid-template-columns: 1fr 1fr;
  }

  .services__content:first-of-type {
    grid-row: 1;
  }
  .services__content:first-of-type picture {
    grid-column: 2;
    grid-row: 1;
  }
  .services__content:first-of-type .content__text {
    grid-column: 1;
    grid-row: 1;
  }

  .services__content:nth-of-type(2) {
    grid-row: 2;
  }
  .services__content:nth-of-type(2) picture {
    grid-column: 1;
    grid-row: 1;
  }
  .services__content:nth-of-type(2) .content__text {
    grid-column: 2;
    grid-row: 1;
  }

  .services__content:first-of-type .content__text,
  .services__content:nth-of-type(2) .content__text {
    text-align: left;
    align-items: start;
  }

  .services__content:nth-of-type(3) {
    background-image: url('./images/desktop/image-graphic-design.jpg');
    background-position: center;
    grid-row: 3;
  }
  .services__content:last-of-type {
    background-image: url('./images/desktop/image-photography.jpg');
    background-position: center;
    grid-column: 2;
    grid-row: 3;
  }

  .testimonials {
    grid-column: 1 / span 2;
  }
  .gallery {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .testimonials {
    padding: 8rem 1rem;
    display: grid;
    margin: 0 auto;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 1fr;
  }
  .testimonials__title {
    grid-column: 1 / span 3;
    grid-row: 1;
  }
  .testimonials__container {
    grid-row: 2;
  }
}

@media (min-width: 78rem) {
  :root {
    --fs-xl: 2.5rem;
    --fs-lg: 2.25rem;
    --fs-md: 1.125rem;
    --fs-sm: 0.825rem;
  }
  .content__text {
    max-width: 50ch;
  }
}

/* utility classes */
.opened {
  translate: 0;
}
